In [ ]:
print(1+2)

3

In [ ]:
print(1+9+10)

20

# 新しいセクション

In [ ]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する

63
True

In [ ]:
num = 2

# 変数numが10より大きいなら、文字列を出力する
if 10 < num:
    print("変数numは10より大きいです")

# 変数numが20より小さいなら、文字列を出力する
if num < 20:
    print("変数numは20より小さいです")

変数numは20より小さいです

In [ ]:
print(1+4)

5

In [ ]:
print(8+9)

17

In [ ]:
age = 18 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")


else:

    #  成年の場合

    print("お酒で乾杯！")

お酒で乾杯！

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
user_names = ["いちこ", "ふみ", "みちこ", "よしこ", "いくこ"]
print(user_names[1])
print(user_names[2:4])
print(user_names[:1])

user_ages  = [36, 33, 29, 25, 22]

ふみ
['みちこ', 'よしこ']
['いちこ']

In [ ]:
a = ("かとうゆうま")
print(a[:6])

かとうゆうま

In [ ]:
num1 = 1
num2 = 2
print(num1 + num2)
print(f"{num1} + {num2}")

TypeError: 'int' object is not callable

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
top = 10
base = 20
print(top + base)

30

In [ ]:
t = 10
b = 20
h = 5
area = (t + b) * h / 2
print(f"{area}cm^2")

75.0㎝^2

In [ ]:
area = 75.0
print(f"台形の面積: {area} cm^2")  # ASCII表記

台形の面積: 75.0 cm^2

In [ ]:
curry_list = ["じゃがいも", "にんじん", "玉ねぎ", "にんにく", "豚肉"]

# 6番目にゆで卵を追加する
curry_list.append("ゆで卵")
print(curry_list)

# 2番目のにんじんをズッキーニに書き換える
curry_list[1] = "ズッキーニ"
print(curry_list)
#4番目のにんにくを削除する
curry_list.pop(3)
print(curry_list)

['じゃがいも', 'にんじん', '玉ねぎ', 'にんにく', '豚肉', 'ゆで卵']
['じゃがいも', 'ズッキーニ', '玉ねぎ', 'にんにく', '豚肉', 'ゆで卵']
['じゃがいも', 'ズッキーニ', '玉ねぎ', '豚肉', 'ゆで卵']

In [ ]:
area = 75
print(f"台形の面積:{area} cm\u00B2")https://chatgpt.com/?openaicom_referred=true

台形の面積:75 cm²

In [ ]:
top = 10
base = 20
height = 5
area = (top + base) * height / 2
print(f"台形の面積:{area}cm\u00B2")

台形の面積:75.0cm²

In [ ]:
country_names = ["日本", "アメリカ" ,"イギリス", "フランス" ] # Changed to a list
print(country_names[2])
print(country_names)
#3番目の要素を書き換える
country_names[2] = "ドイツ"
print(country_names) # Added print to show the change

イギリス
['日本', 'アメリカ', 'イギリス', 'フランス']
['日本', 'アメリカ', 'ドイツ', 'フランス']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[2])

侍二郎

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}
#セットの全体を表示
print(country_names)

{'日本', 'フランス', 'イギリス', 'アメリカ'}

In [ ]:
#1～10までに含まれる素数のセット（2と5が重複）
prime_numbers = { 2, 5, 2, 7, 3, 5, 5}
#セット全体を表示
print(prime_numbers)

{2, 3, 5, 7}

In [ ]:
prime_numbers = { 2, 5, 3, 7}
print(prime_numbers)

prime_numbers.add(11)
print(prime_numbers)

prime_numbers.remove(3)
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [ ]:
coutry_names = {"アメリカ", "イギリス", "日本", "フランス"}
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'日本', 'フランス', 'イギリス', 'アメリカ'}
{'日本', 'イギリス', 'アメリカ', 'フランス', 'ドイツ'}
{'日本', 'アメリカ', 'フランス', 'ドイツ'}

In [ ]:
from typing import SupportsBytes
sports = {1: "サッカー", 2: "野球", 3:"バドミントン"}
print(sports)
sports.pop(3)
print(sports)
sports[3] = "バスケット"
sports[4] = "水泳"
print(sports)
sports[2] = "バドミントン"
print(sports)

{1: 'サッカー', 2: '野球', 3: 'バドミントン'}
{1: 'サッカー', 2: '野球'}
{1: 'サッカー', 2: '野球', 3: 'バスケット', 4: '水泳'}
{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}
print(personal_data["name"])
print(personal_data)
personal_data["age"] = 37
personal_data["adress"] = "東京都"
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'adress': '東京都'}

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです",
         "土曜日は曇りのち雨です", "日曜日は雷雨です"]
print(array[2])

水曜日は晴れです

In [ ]:
dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu":  "晴れ", "fri": "曇り",
              "sat": "曇りのち雨", "sun": "雷雨"}

print(dictionary["wed"])

晴れ

In [ ]:
num = 15

# 変数numが10より大きいなら、文字列を出力する
if 10 < num:
    print("変数numは10より大きいです")

# 変数numが20より小さいなら、文字列を出力する
if num < 20:
    print("変数numは20より小さいです")

変数numは10より大きいです
変数numは20より小さいです

In [ ]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する

63
True

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

4
大当たりです

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
elif num == 2:
    print("中あたりです")
elif num == 1:
      print("小あたりです")
else:
    print("はずれです")

4
大当たりです

In [90]:
var = 45

if var % 3 == 0 and var % 5 == 0:
    print("FizzBuzz")
elif var % 3 == 0:
    print("Fizz")
elif var % 5 == 0:
    print("Buzz")
else:
    print(var)

FizzBuzz

In [87]:
var = 43
if var % 3 == 0 and var % 5 == 0:
  print("FizzBuzz")
elif var % 3 == 0:
  print("Fizz")
elif var % 5 == 0:
  print("Buzz")
else:
  print(var)

43